{
	"parser": "@typescript-eslint/parser",
	"extends": ["airbnb", "prettier", "prettier/react", "plugin:@typescript-eslint/recommended"],
	"plugins": ["prettier"],
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [".ts", ".tsx"]
			}
		],
		"import/no-unresolved": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"react/prop-types": "off",
		"no-underscore-dangle": "off",
		"no-alert": "warn",
		"require-await": "warn",
		"dot-location": "warn",
		"dot-notation": "warn",
		"no-self-assign": "error",
		"no-useless-concat": "error",
		"no-useless-escape": "error",
		"eqeqeq": "error",
		"import/imports-first": ["error", "absolute-first"],
		"import/prefer-default-export": "off",
		"import/newline-after-import": "error",
		"consistent-return": "off",
		"react/jsx-props-no-spreading": "off"
	},
	"globals": {
		"window": true,
		"document": true,
		"localStorage": true,
		"FormData": true,
		"FileReader": true,
		"Blob": true,
		"navigator": true
	},
	"settings": {
		"import/resolver": {
			"alias": {
				"map": [
					["@lang", "src/lang"],
					["@modules", "src/modules"],
					["@services", "src/services"],
					["@static", "src/static"],
					["@store", "src/store"],
					["@theme", "src/theme"]
				],
				"extensions": [".ts", ".tsx"]
			}
		}
	}
}
